@page
@model CRUDAutos.Pages.NuevoModel
@{



	<form action="" method="post">
			<div>
				<b>
					<span>Marca:</span>
				</b>
				<br>
				<input name="marca" type="text">
			</div>

			<br>

			<div>
				<b><span>Modelo:</span></b>
				<br>
				<input name="modelo" type="text">
			</div>
			<br>
			<div>
				<b>
					<span>Año:</span>
				</b>
				<br>
				<input name="año" type="number">
				<br>
			</div>
			<br>
			<div>
				<b>
					<span>Precio:</span>
				</b>
				<br>
				<input name="precio" type="number">
			</div>
			<br>
			<div>
				<b>	<span>KM:</span></b>
				<br>
				<input name="km" type="number">
			</div>
			<br>
			<div>
				<b>	<span>Url:</span></b>
				<br>
				<input name="url" type="text" required>	
			</div>
			<br />

			<br />	
			<button class="btn btn-outline-success">Enviar</button>
			<br />
			<br />


	</form>
	<div id="btn">
		<a href="Index">
			<button id="nuevo" class="btn btn-primary">Regresar</button>
		</a>
	</div>
	<br />




 

	}
